body {
	--bases-map-embed-height: 400px;
	--bases-map-marker-background: var(--interactive-accent);
	--bases-map-marker-icon-color: white;
	--bases-map-blend-mode: normal;
}

/* Settings styles */
.map-tileset-list {
	margin: 1em 0;
}

.mobile-option-setting-item-description {
	font-size: var(--font-smaller);
	color: var(--text-muted);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0.25em;
}

.bases-view[data-view-type="map"] {
	--bases-embed-border-width: 0px;
	--bases-view-padding: 0;
	position: relative;
}

.workspace-leaf-content[data-type="bases"] {
	.bases-map {
		height: 100%;
	}
}

.bases-map-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.canvas-node-content.bases-embed .bases-map {
	height: 100% !important;
}

.bases-map {
	width: 100%;
	background-color: var(--background-primary);
	height: var(--bases-map-embed-height);
	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: rgb(0, 0, 0, 0);

	canvas {
		mix-blend-mode: var(--bases-map-blend-mode);
	}

	&.is-loading {
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			color: var(--text-muted);
		}
	}
}

.bases-map-popup {
	min-width: 200px;
	max-width: 300px;

	.bases-map-popup-title {
		--link-weight: calc(var(--font-weight) + var(--bold-modifier));
		font-size: var(--font-ui-medium);
		padding: var(--size-4-2);

		a {
			color: var(--text-normal);
			text-decoration: none;

			&:hover {
				color: var(--text-accent);
			}
		}
	}

	.bases-map-popup-properties {
		display: flex;
		flex-direction: column;
		gap: var(--size-4-2);
	}
}

.bases-map-popup-property {
	font-size: var(--font-ui-small);
	&:last-child {
		padding-bottom: var(--size-4-2);
	}
}

.bases-map-popup-property-label {
	font-size: var(--font-ui-smaller);
	color: var(--text-muted);
	padding: 0 var(--size-4-2);
}

.bases-map-popup-property-value {
	color: var(--text-normal);
	word-break: break-word;
	padding: 0 var(--size-4-2);
}

.maplibregl-ctrl-attrib {
	background-color: rgba(var(--mono-rgb-0), 0.8);
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	padding: 1px 8px;

	a {
		color: var(--text-muted);
		text-decoration: none;
	}
	a:hover {
		color: var(--text-muted);
		text-decoration: underline;
	}
}

.maplibregl-popup-content {
	background-color: var(--background-primary);
	color: var(--text-normal);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-s);
	border: var(--modal-border-width) solid var(--modal-border-color);
}

.maplibregl-canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
	touch-action: none;
}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
	user-select: none;
}

.maplibregl-canvas-container.maplibregl-interactive.maplibregl-track-pointer {
	cursor: pointer;
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate .maplibregl-canvas {
	touch-action: pan-x pan-y;
}

.maplibregl-canvas-container.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
	touch-action: pinch-zoom;
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
	touch-action: none;
}

.maplibregl-canvas-container.maplibregl-touch-drag-pan.maplibregl-cooperative-gestures,
.maplibregl-canvas-container.maplibregl-touch-drag-pan.maplibregl-cooperative-gestures .maplibregl-canvas {
	touch-action: pan-x pan-y;
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
	position: absolute;
	pointer-events: none;
	z-index: 2;
	display: flex;
	gap: var(--size-4-2);
	flex-direction: column;
}

.maplibregl-ctrl-top-left {
	top: var(--size-4-2);
	left: var(--size-4-2);
}

.maplibregl-ctrl-top-right {
	 top: var(--size-4-2);
	 right: var(--size-4-2);
	}

.maplibregl-ctrl-bottom-left {
	bottom: var(--size-4-2);
	left: var(--size-4-2);
}

.maplibregl-ctrl-bottom-right {
	 right: var(--size-4-2);
	 bottom: var(--size-4-2);
}

.maplibregl-ctrl {
	pointer-events: auto;
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.maplibregl-ctrl button:disabled {
	cursor: not-allowed;
}

.maplibregl-ctrl button:disabled .maplibregl-ctrl-icon {
	opacity: 0.25;
}

.maplibregl-ctrl-group button:focus:only-child {
	border-radius: inherit;
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-waiting .maplibregl-ctrl-icon {
	animation: maplibregl-spin 2s infinite linear;
}

@keyframes maplibregl-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

a.maplibregl-ctrl-logo {
	width: 88px;
	height: 23px;
	margin: 0 0 -4px -4px;
	display: block;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	background-image: svg-load("svg/maplibregl-ctrl-logo.svg");
}

a.maplibregl-ctrl-logo.maplibregl-compact {
	width: 14px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
	padding: 0 5px;
	background-color: var(--background-primary);
	margin: 0;
}

@media screen {
	.maplibregl-ctrl-attrib.maplibregl-compact {
		min-height: 20px;
		padding: 2px 24px 2px 0;
		margin: 10px;
		position: relative;
		display: flex;
		align-items: center;
		background-color: rgba(var(--mono-rgb-0), 0.2);
		color: var(--text-faint);
		border-radius: 12px;
		box-sizing: content-box;
	}

	.maplibregl-ctrl-attrib.maplibregl-compact-show {
		padding: 2px 28px 2px 8px;
		visibility: visible;
	}

	.maplibregl-ctrl-top-left > .maplibregl-ctrl-attrib.maplibregl-compact-show,
	.maplibregl-ctrl-bottom-left > .maplibregl-ctrl-attrib.maplibregl-compact-show {
		padding: 2px 8px 2px 28px;
		border-radius: 12px;
	}

	.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-inner {
		display: none;
	}

	.maplibregl-ctrl-attrib-button {
		display: none;
		cursor: pointer;
		position: absolute;
		background-image: svg-load("svg/maplibregl-ctrl-attrib.svg");
		background-color: rgb(255, 255, 255, 0.5);
		width: 24px;
		height: 24px;
		box-sizing: border-box;
		border-radius: 12px;
		outline: none;
		top: 0;
		right: 0;
		border: 0;
	}

	.maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button {
		appearance: none;
		list-style: none;
	}

	.maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button::-webkit-details-marker {
		display: none;
	}

	.maplibregl-ctrl-top-left .maplibregl-ctrl-attrib-button,
	.maplibregl-ctrl-bottom-left .maplibregl-ctrl-attrib-button {
		left: 0;
	}

	.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button,
	.maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-inner {
		display: block;
	}

	.maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-button {
		background-color: rgb(0, 0, 0, 0.05);
	}

	.maplibregl-ctrl-bottom-right > .maplibregl-ctrl-attrib.maplibregl-compact::after {
		bottom: 0;
		right: 0;
	}

	.maplibregl-ctrl-top-right > .maplibregl-ctrl-attrib.maplibregl-compact::after {
		top: 0;
		right: 0;
	}

	.maplibregl-ctrl-top-left > .maplibregl-ctrl-attrib.maplibregl-compact::after {
		top: 0;
		left: 0;
	}

	.maplibregl-ctrl-bottom-left > .maplibregl-ctrl-attrib.maplibregl-compact::after {
		bottom: 0;
		left: 0;
	}
}

@media screen and (forced-colors: active) {
	.maplibregl-ctrl-attrib.maplibregl-compact::after {
		background-image: svg-load("svg/maplibregl-ctrl-attrib.svg", fill=#fff);
	}
}

@media screen and (forced-colors: active) and (prefers-color-scheme: light) {
	.maplibregl-ctrl-attrib.maplibregl-compact::after {
		background-image: svg-load("svg/maplibregl-ctrl-attrib.svg");
	}
}

.maplibregl-attrib-empty {
	display: none;
}

.maplibregl-ctrl-scale {
	background-color: rgb(255, 255, 255, 0.75);
	border-width: medium 2px 2px;
	border-style: none solid solid;
	border-color: #333;
	padding: 0 5px;
	color: #333;
	box-sizing: border-box;
}

.maplibregl-popup {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	will-change: transform;
	pointer-events: none;
}

.maplibregl-popup-anchor-top,
.maplibregl-popup-anchor-top-left,
.maplibregl-popup-anchor-top-right {
	flex-direction: column;
}

.maplibregl-popup-anchor-bottom,
.maplibregl-popup-anchor-bottom-left,
.maplibregl-popup-anchor-bottom-right {
	flex-direction: column-reverse;
}

.maplibregl-popup-anchor-left {
	flex-direction: row;
}

.maplibregl-popup-anchor-right {
	flex-direction: row-reverse;
}

.maplibregl-popup-close-button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 0 3px 0 0;
	cursor: pointer;
	background-color: transparent;
}

.maplibregl-popup-close-button:hover {
	background-color: rgb(0, 0, 0, 0.05);
}

.maplibregl-popup-content {
	position: relative;
	pointer-events: auto;
}

.maplibregl-popup-anchor-top-left .maplibregl-popup-content {
	border-top-left-radius: 0;
}

.maplibregl-popup-anchor-top-right .maplibregl-popup-content {
	border-top-right-radius: 0;
}

.maplibregl-popup-anchor-bottom-left .maplibregl-popup-content {
	border-bottom-left-radius: 0;
}

.maplibregl-popup-anchor-bottom-right .maplibregl-popup-content {
	border-bottom-right-radius: 0;
}

.maplibregl-popup-track-pointer {
	display: none;
}

.maplibregl-popup-track-pointer * {
	pointer-events: none;
	user-select: none;
}

.maplibregl-map:hover .maplibregl-popup-track-pointer {
	display: flex;
}

.maplibregl-map:active .maplibregl-popup-track-pointer {
	display: none;
}

.maplibregl-marker {
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
	transition: opacity 0.2s;
}

.maplibregl-crosshair,
.maplibregl-crosshair .maplibregl-interactive,
.maplibregl-crosshair .maplibregl-interactive:active {
	cursor: crosshair;
}

.maplibregl-boxzoom {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: var(--background-primary);
	border: 2px dotted #202020;
	opacity: 0.5;
}

/* Mapbox GL Draw overrides for MapLibre compatibility */
.mapbox-gl-draw_ctrl-bottom-left,
.mapbox-gl-draw_ctrl-top-left {
	margin-left:0;
	border-radius:0 4px 4px 0;
}
.mapbox-gl-draw_ctrl-top-right,
.mapbox-gl-draw_ctrl-bottom-right {
	margin-right:0;
	border-radius:4px 0 0 4px;
}

.mapbox-gl-draw_ctrl-draw-btn {
	border-color:rgba(0,0,0,0.9);
	color: var(--text-muted);
	width:30px;
	height:30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--background-primary);
	border: 0;
	box-shadow: var(--shadow-s);
}

.mapbox-gl-draw_ctrl-draw-btn:hover {
	background-color: var(--background-secondary);
}

.mapbox-gl-draw_ctrl-draw-btn.active,
.mapbox-gl-draw_ctrl-draw-btn.active:hover {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}

.mapbox-gl-draw_point {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="m10 2c-3.3 0-6 2.7-6 6s6 9 6 9 6-5.7 6-9-2.7-6-6-6zm0 2c2.1 0 3.8 1.7 3.8 3.8 0 1.5-1.8 3.9-2.9 5.2h-1.7c-1.1-1.4-2.9-3.8-2.9-5.2-.1-2.1 1.6-3.8 3.7-3.8z"/>%3C/svg>');
}
.mapbox-gl-draw_polygon {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="m15 12.3v-4.6c.6-.3 1-1 1-1.7 0-1.1-.9-2-2-2-.7 0-1.4.4-1.7 1h-4.6c-.3-.6-1-1-1.7-1-1.1 0-2 .9-2 2 0 .7.4 1.4 1 1.7v4.6c-.6.3-1 1-1 1.7 0 1.1.9 2 2 2 .7 0 1.4-.4 1.7-1h4.6c.3.6 1 1 1.7 1 1.1 0 2-.9 2-2 0-.7-.4-1.4-1-1.7zm-8-.3v-4l1-1h4l1 1v4l-1 1h-4z"/>%3C/svg>');
}
.mapbox-gl-draw_line {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="m13.5 3.5c-1.4 0-2.5 1.1-2.5 2.5 0 .3 0 .6.2.9l-3.8 3.8c-.3-.1-.6-.2-.9-.2-1.4 0-2.5 1.1-2.5 2.5s1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5c0-.3 0-.6-.2-.9l3.8-3.8c.3.1.6.2.9.2 1.4 0 2.5-1.1 2.5-2.5s-1.1-2.5-2.5-2.5z"/>%3C/svg>');
}
.mapbox-gl-draw_trash {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="M10,3.4 c-0.8,0-1.5,0.5-1.8,1.2H5l-1,1v1h12v-1l-1-1h-3.2C11.5,3.9,10.8,3.4,10,3.4z M5,8v7c0,1,1,2,2,2h6c1,0,2-1,2-2V8h-2v5.5h-1.5V8h-3 v5.5H7V8H5z"/>%3C/svg>');
}
.mapbox-gl-draw_uncombine {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="m12 2c-.3 0-.5.1-.7.3l-1 1c-.4.4-.4 1 0 1.4l1 1c.4.4 1 .4 1.4 0l1-1c.4-.4.4-1 0-1.4l-1-1c-.2-.2-.4-.3-.7-.3zm4 4c-.3 0-.5.1-.7.3l-1 1c-.4.4-.4 1 0 1.4l1 1c.4.4 1 .4 1.4 0l1-1c.4-.4.4-1 0-1.4l-1-1c-.2-.2-.4-.3-.7-.3zm-7 1c-1 0-1 1-.5 1.5.3.3 1 1 1 1l-1 1s-.5.5 0 1 1 0 1 0l1-1 1 1c.5.5 1.5.5 1.5-.5v-4zm-5 3c-.3 0-.5.1-.7.3l-1 1c-.4.4-.4 1 0 1.4l4.9 4.9c.4.4 1 .4 1.4 0l1-1c.4-.4.4-1 0-1.4l-4.9-4.9c-.1-.2-.4-.3-.7-.3z"/>%3C/svg>');
}
.mapbox-gl-draw_combine {
	background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath fill="%23555" d="M12.1,2c-0.3,0-0.5,0.1-0.7,0.3l-1,1c-0.4,0.4-0.4,1,0,1.4l4.9,4.9c0.4,0.4,1,0.4,1.4,0l1-1 c0.4-0.4,0.4-1,0-1.4l-4.9-4.9C12.6,2.1,12.3,2,12.1,2z M8,8C7,8,7,9,7.5,9.5c0.3,0.3,1,1,1,1l-1,1c0,0-0.5,0.5,0,1s1,0,1,0l1-1l1,1 C11,13,12,13,12,12V8H8z M4,10c-0.3,0-0.5,0.1-0.7,0.3l-1,1c-0.4,0.4-0.4,1,0,1.4l1,1c0.4,0.4,1,0.4,1.4,0l1-1c0.4-0.4,0.4-1,0-1.4 l-1-1C4.5,10.1,4.3,10,4,10z M8,14c-0.3,0-0.5,0.1-0.7,0.3l-1,1c-0.4,0.4-0.4,1,0,1.4l1,1c0.4,0.4,1,0.4,1.4,0l1-1 c0.4-0.4,0.4-1,0-1.4l-1-1C8.5,14.1,8.3,14,8,14z"/>%3C/svg>');
}

.maplibregl-map.mouse-pointer .maplibregl-canvas-container.maplibregl-interactive {
	cursor: pointer;
}
.maplibregl-map.mouse-move .maplibregl-canvas-container.maplibregl-interactive {
	cursor: move;
}
.maplibregl-map.mouse-add .maplibregl-canvas-container.maplibregl-interactive {
	cursor: crosshair;
}
.maplibregl-map.mouse-move.mode-direct_select .maplibregl-canvas-container.maplibregl-interactive {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.maplibregl-map.mode-direct_select.feature-vertex.mouse-move .maplibregl-canvas-container.maplibregl-interactive {
	cursor: move;
}
.maplibregl-map.mode-direct_select.feature-midpoint.mouse-pointer .maplibregl-canvas-container.maplibregl-interactive {
	cursor: cell;
}
.maplibregl-map.mode-direct_select.feature-feature.mouse-move .maplibregl-canvas-container.maplibregl-interactive {
	cursor: move;
}
.maplibregl-map.mode-static.mouse-pointer	.maplibregl-canvas-container.maplibregl-interactive {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.mapbox-gl-draw_boxselect {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,.1);
	border: 2px dotted #fff;
	opacity: 0.5;
}

/* Drawing control active state */
.canvas-control-item.is-active {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}

/* Customize MapboxDraw button styles to match Obsidian */
.maplibregl-ctrl-group.mapbox-gl-draw_ctrl-draw-btn {
	background-color: var(--background-modifier-form-field);
}

.mapbox-gl-draw_ctrl-draw-btn button {
	color: var(--text-normal);
	background-color: transparent;
}

.mapbox-gl-draw_ctrl-draw-btn button:hover {
	background-color: var(--background-modifier-hover);
}

.mapbox-gl-draw_ctrl-draw-btn button.active {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}
